body {
    background: rgb(141,0,187);
    background: linear-gradient(90deg, rgba(141,0,187,1) 0%, rgba(99,0,255,1) 100%);
}

main {
    margin: 20vh auto;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 40vw;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
}

@media (max-width: 800px) {
  #login-container {
    width: 80vw;
    padding-bottom: 5%;
  }
}

.error-message {
    width: 85%;
    padding: 5px;
    color: red;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px
}

.heading {
    font-size: 24px;
}

.description {
    font-size: 16px;
}

.border-error {
    border-color: red !important;
}

#login-form {
    width: 70%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    align-items: center;
}

#login-form input {
    width: 80%;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    border: 1px solid gray;
}

#login-form button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    /* margin-top: 1rem; */
    background-color: rgb(155, 79, 227);
}

#login-form [type=submit]:hover {
    cursor: pointer;
}